<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scorer.client.dao.mysql_dao1.ClassesDao">

    <resultMap id="Classes" type="com.scorer.client.entity.Classes">
        <id column="id" property="id"/>
        <result column="title" property="classesTitle"/>
        <result column="school_id" property="schoolId"/>
        <result column="class_name" property="classesName"/>
        <result column="school_name" property="schoolName"/>
        <result column="teacher_id" property="teacherId"/>
        <result column="teacher_name" property="teacherName"/>
        <collection property="teacherList" ofType="com.scorer.client.entity.Teacher">
            <id property="teacherId" column="teacher_id"/>
            <result property="teacherName" column="teacher_name"/>
            <result property="schoolId" column="school_id"/>
            <result property="accountUsername" column="account_username"/>
            <result property="isHead" column="is_head"/>
        </collection>
    </resultMap>

    <resultMap id="timeTable" type="com.scorer.client.entity.Timetable">
        <result column="id" property="id"/>
        <result column="class_id" property="classId"/>
        <result column="timetable" property="timetable"/>
        <result column="start_date" property="startDate"/>
    </resultMap>

    <resultMap id="classContent" type="com.scorer.client.entity.ClassContent">
        <result column="id" property="id"/>
        <result column="class_id" property="classId"/>
        <result column="content" property="content"/>
        <result column="img_path" property="imgPath"/>
        <result column="img_url" property="imgUrl"/>
    </resultMap>

    <select id="getClassesCount" resultType="Long">
        SELECT
          count(c.id)
        FROM
          class c
        WHERE 1=1 AND c.school_id=#{searchs.schoolId}
        <if test="searchs.classId != null and searchs.classId != ''">
            AND c.id = #{searchs.classId}
        </if>
    </select>

    <select id="getClassesList" resultMap="Classes">
        SELECT
            c.id,
            c.title,
            c.class_name,
            c.school_id,
            s.title school_name,
            c.title,
            a.id AS teacher_id,
            a.nick_name AS teacher_name,
            a.username AS account_username,
            IF(c.teacher_id=a.id,1,-1) AS is_head
        FROM
            class c
        LEFT JOIN school s ON c.school_id = s.id
        LEFT JOIN account_class acc ON acc.class_id=c.id
        LEFT JOIN account a ON acc.account_id=a.id
        WHERE 1=1 AND c.school_id=#{searchs.schoolId}
        <if test="searchs.classId != null and searchs.classId != ''">
            AND c.id = #{searchs.classId}
        </if>
        <if test="searchs.classId != null and searchs.classId != ''">
            AND c.id = #{searchs.classId}
        </if>
        AND c.id IN(
            SELECT a.id FROM (SELECT DISTINCT id FROM  class WHERE school_id=#{searchs.schoolId} LIMIT #{startIndex}, #{pageSize}) a
        )
        <foreach collection="sort" index="index" item="item" open="ORDER BY" separator=",">
              ${item.field} ${item['type']}
        </foreach>
    </select>

    <select id="countTeacherClass" resultType="long">
        select count(id) from account_class where account_id = #{0} and class_id = #{1}
    </select>

    <insert id="addClasses">
        INSERT INTO class (title, class_name, school_id, teacher_id)
        VALUES (#{classesTitle}, #{classesName},#{schoolId}, #{teacherId})
    </insert>

    <update id="updateClasses">
        update class
        <set>
            <if test="classesName!= null and classesName != '' ">
                title = #{classesTitle},
            </if>
            <if test="classesTitle!= null and classesTitle != '' ">
                class_name = #{classesName},
            </if>
            <if test="schoolId!= null and schoolId!= 0 ">
                school_id = #{schoolId},
            </if>
            <if test="teacherId!= null and teacherId!= '' ">
                teacher_id = #{teacherId},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteClasses">
        delete from class where id in
        <foreach collection="list" item="classesId" open="(" separator="," close=")">
            #{classesId}
        </foreach>
    </delete>

    <select id="getTimetableCount" resultType="Long">
        SELECT count(id) FROM timetable WHERE 1=1
        <if test="searchs.classId != null and searchs.classId != ''">
            AND class_id = #{searchs.classId}
        </if>
    </select>

    <select id="getTimetableList" resultMap="timeTable">
        SELECT id, class_id, timetable, start_date FROM timetable WHERE 1=1
        <if test="searchs.classId != null and searchs.classId != ''">
            AND class_id = #{searchs.classId}
        </if>
        LIMIT #{startIndex}, #{pageSize}
    </select>

    <insert id="addTimetable">
        INSERT INTO timetable
            (class_id, timetable, start_date)
        VALUES
            (#{classId}, #{timetable}, #{startDate})
    </insert>


    <select id="getClassContentCount" resultType="Long">
        SELECT count(id) FROM class_content WHERE 1=1
        <if test="searchs.classId != null and searchs.classId != ''">
            AND class_id = #{searchs.classId}
        </if>
    </select>

    <select id="getClassContentList" resultMap="classContent">
        SELECT id, class_id, content, img_path, img_url FROM class_content WHERE 1=1
        <if test="searchs.classId != null and searchs.classId != ''">
            AND class_id = #{searchs.classId}
        </if>
        LIMIT #{startIndex}, #{pageSize}
    </select>

    <insert id="addClassContent">
        INSERT INTO class_content
          (class_id, content, img_path, img_url)
        VALUES
          (#{classId}, #{content}, #{imgPath}, #{imgUrl})
    </insert>


    <select id="getAccountClassCount" resultType="Long">
        SELECT count(c.id)
        FROM
            account_class ac
            JOIN class c ON ac.class_id = c.id
        WHERE 1=1
        <if test="searchs.accountId != null and searchs.accountId != ''">
            AND ac.account_id = #{searchs.accountId}
        </if>
    </select>

    <select id="getAccountClassCountList" resultMap="Classes">
        SELECT
            c.id,
            c.title
        FROM
            account_class ac
        JOIN class c ON ac.class_id = c.id
        <if test="searchs.accountId != null and searchs.accountId != ''">
            AND ac.account_id = #{searchs.accountId}
        </if>
        <foreach collection="sort" index="index" item="item" open="ORDER BY" separator=",">
            ${item.field} ${item['type']}
        </foreach>
        LIMIT #{startIndex}, #{pageSize}
    </select>

    <select id="getClassListNoPage" resultMap="Classes" >
        SELECT
            c.id,
            c.title
        FROM
            class c
        WHERE 1=1
        <if test="schoolId != null and schoolId != 0">
            AND  c.school_id = #{schoolId}
        </if>
    </select>

    <select id="countSchoolClass" resultType="integer">
        select count(*) from class where school_id = #{id}
    </select>

    <select id="getListClassStudentParent" resultType="Long">
        SELECT
            acs.account_id
        FROM
            students s
        LEFT JOIN account_student acs ON s.id = acs.student_id
        WHERE
            s.class_id = #{classId}
    </select>

    <select id="getListStudentParent" resultType="Long">
        SELECT
        account_id
        FROM
        account_student
        WHERE
        student_id = #{studentId}
    </select>

</mapper>