<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scorer.client.dao.mysql_dao1.NoticeDao">

    <resultMap id="notice" type="com.scorer.client.entity.Notice">
        <result column="id" property="id"/>
        <result column="notice_title" property="noticTitle"/>
        <result column="notice_content" property="noticeContent"/>
        <result column="notice_date" property="noticeDate"/>
        <result column="class_id" property="classId"/>
        <result column="from_to" property="fromTo"/>
    </resultMap>

    <resultMap id="dailyRecommend" type="com.scorer.client.entity.DailyRecommend">
        <result column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="img_path" property="imgPath"/>
        <result column="img_url" property="imgUrl"/>
        <result column="publish_date" property="publishDate"/>
        <result column="type" property="type"/>
    </resultMap>

    <select id="getNoticeCount" resultType="long">
        select count(id) from notice where 1=1
        <if test="searchs.classId != null and searchs.classId != ''">
            AND class_id = #{searchs.classId}
        </if>
        <if test="searchs.formTo != null">
            AND from_to = #{searchs.formTo}
        </if>
    </select>

    <select id="getNoticeList" resultMap="notice">
        select id, notice_title, notice_content, notice_date,class_id,from_to from notice where 1=1
        <if test="searchs.classId != null and searchs.classId != ''">
            AND class_id = #{searchs.classId}
        </if>
        <if test="searchs.formTo != null">
            AND from_to = #{searchs.formTo}
        </if>
        <foreach collection="sort" index="index" item="item" open="ORDER BY" separator=",">
            ${item.field} ${item['type']}
        </foreach>
        LIMIT #{startIndex}, #{pageSize}
    </select>

    <select id="getNoticeById" resultMap="notice">
        SELECT
            id,
            notice_title,
            notice_content,
            notice_date
        FROM notice
        WHERE id = #{NoticeId}
    </select>

    <insert id="addNotice">
        <if test="classId!=null">
            insert into notice(class_id, notice_title, notice_content, notice_date, from_to)
            values (#{classId}, #{noticTitle}, #{noticeContent}, sysdate(), #{fromTo})
        </if>
        <if test="classIds.size()>0">
            insert into notice(class_id, notice_title, notice_content, notice_date, from_to)
            values
            <foreach collection="classIds" item="i" separator=",">
                (#{i}, #{noticTitle}, #{noticeContent}, sysdate(), #{fromTo})
            </foreach>
        </if>
    </insert>

    <update id="updateNotice">
        update notice
        <set>
            <if test="noticTitle!= null and noticTitle != ''">
                notice_title = #{noticTitle},
            </if>
            <if test="NoticeName!= null and NoticeName!= '' ">
                notice_content = #{noticeContent},
            </if>
            notice_dates = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="deleteNotice">
        delete from notice where id in
        <foreach collection="list" item="noticeId" open="(" separator="," close=")">
            #{noticeId}
        </foreach>
    </delete>

    <select id="getDailyRecommendCount" resultType="long">
        select count(id) from daily_recommend where 1=1
        <if test="searchs.type != null">
            AND type = #{searchs.type}
        </if>
    </select>

    <select id="getDailyRecommendList" resultMap="dailyRecommend">
        select id, content, img_path, img_url, publish_date from daily_recommend where 1=1
        <if test="searchs.type != null">
            AND type = #{searchs.type}
        </if>
        order by publish_date desc
        LIMIT ${startIndex}, ${pageSize}
    </select>
</mapper>