<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scorer.client.dao.mysql_dao1.ReportDao">

    <resultMap id="alarmReport" type="com.scorer.client.entity.AlarmReport">
        <result column="id" property="id"/>
        <result column="alarm_time" property="alarmTime"/>
        <result column="alarm_type" property="alarmType"/>
        <result column="alarm_data" property="alarmData"/>
        <result column="student_id" property="studentId"/>
        <result column="student_name" property="studentName"/>
        <result column="class_id" property="classId"/>
        <result column="class_name" property="className"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
    </resultMap>

    <resultMap id="dailyReport" type="com.scorer.client.entity.DailyReport">
        <result column="student_id" property="studentId"/>
        <result column="student_name" property="studentName"/>
        <result column="register_no" property="registerNo"/>
        <result column="ring_no" property="ringNo"/>
        <result column="attendance" property="attendance"/>
        <result column="report_date" property="reportDate"/>
    </resultMap>

    <select id="getAlarmReportCount" resultType="Long">
      SELECT
            count(ar.id)
        FROM
            alarm_report ar
        LEFT JOIN students s ON ar.student_id = s.id
        LEFT JOIN class c ON s.class_id = c.id
        WHERE 1=1
        <if test="searchs.alarmBeginTime!= null and searchs.alarmBeginTime!= '' and searchs.alarmEndTime!= null and searchs.alarmEndTime!= ''">
            and ar.alarm_time BETWEEN #{searchs.alarmBeginTime} and #{searchs.alarmEndTime}
        </if>
        <if test="searchs.classId!= null and searchs.classId!= 0 ">
            and c.id = #{searchs.classId}
        </if>
        <if test="searchs.alarmType!= null and searchs.alarmType!= 0 ">
            and ar.alarm_type = #{searchs.alarmType}
        </if>
        <if test="searchs.studentId!= null and searchs.studentId!= 0 ">
            and ar.student_id = #{searchs.studentId}
        </if>
    </select>

    <select id="getAlarmReportList" resultMap="alarmReport">
      SELECT
            ar.id,
            s.ring_no AS ringNo,
            s.`name` AS studentName,
            c.title AS className,
            ar.alarm_time,
            ar.alarm_data,
            ar.alarm_type,
            ar.student_id,
            ar.longitude,
            ar.latitude
        FROM
            alarm_report ar
            LEFT JOIN students s ON ar.student_id = s.id
            LEFT JOIN class c ON s.class_id = c.id
      WHERE 1=1
        <if test="searchs.alarmBeginTime!= null and searchs.alarmBeginTime!= '' and searchs.alarmEndTime!= null and searchs.alarmEndTime!= ''">
            and ar.alarm_time BETWEEN #{searchs.alarmBeginTime} and #{searchs.alarmEndTime}
        </if>
        <if test="searchs.classId!= null and searchs.classId!= 0 ">
            and c.id = #{searchs.classId}
        </if>
        <if test="searchs.alarmType!= null and searchs.alarmType!= 0 ">
            and ar.alarm_type = #{searchs.alarmType}
        </if>
            <if test="searchs.studentId!= null and searchs.studentId!= 0 ">
            and ar.student_id = #{searchs.studentId}
        </if>
    </select>

    <select id="getDailyReportCount" resultType="long">
        SELECT
            count(s.id)
        FROM
            students s
        LEFT JOIN daily_report d ON s.id = d.student_id
        LEFT JOIN class c ON s.class_id = c.id
        WHERE DATE_FORMAT(d.report_date,'%Y-%m-%d')= DATE_FORMAT(now(),'%Y-%m-%d')
        <if test="classId!= null and classId!= 0 ">
            and c.id = #{classId}
        </if>
    </select>

    <select id="getArriveCount" resultType="java.lang.Integer">
        SELECT
        COUNT(DISTINCT s.id)
        FROM
        daily_report d
        JOIN students s ON s.id = d.student_id
        WHERE 1=1
        <!-- historyType 为1 时查询当日历史纪律 -->
        <if test="searchs.historyType == 1">
            AND DATE_FORMAT(d.report_date,'%Y-%m-%d')= DATE_FORMAT(FROM_UNIXTIME(#{searchs.date}/1000),'%Y-%m-%d')
        </if>
        <!-- historyType 为2 时查询当月历史纪律 -->
        <if test="searchs.historyType == 2">
            AND DATE_FORMAT(d.report_date,'%Y-%m')= DATE_FORMAT(FROM_UNIXTIME(#{searchs.date}/1000),'%Y-%m')
        </if>
        <if test="searchs.classId!= null and searchs.classId!= 0 ">
            AND s.class_id = #{searchs.classId}
        </if>
        <if test="searchs.schoolId!= null and searchs.schoolId!= 0 ">
            AND s.school_id = #{searchs.schoolId}
        </if>
    </select>

    <select id="getStudentCount" resultType="java.lang.Integer">
        SELECT
        COUNT(s.id)
        FROM
        students s
        WHERE 1=1
        <if test="searchs.classId!= null and searchs.classId!= 0 ">
            AND s.class_id = #{searchs.classId}
        </if>
        <if test="searchs.schoolId!= null and searchs.schoolId!= 0 ">
            AND s.school_id = #{searchs.schoolId}
        </if>
    </select>


    <select id="getStudentCountClass" resultType="java.lang.Integer">
        SELECT
        COUNT(s.id)
        FROM
        students s
        WHERE 1=1
            AND s.class_id = #{id}
    </select>

    <select id="getRingCountClass" resultType="java.lang.Integer">
        SELECT
        COUNT(s.id)
        FROM
        students s
        WHERE s.ring_no IS NOT NULL
            AND s.class_id = #{id}
    </select>

    <select id="getArriveCountClass" resultType="java.lang.Integer">
        SELECT
        COUNT(DISTINCT s.id)
        FROM
        daily_report d
        JOIN students s ON s.id = d.student_id
        WHERE 1=1
            AND DATE_FORMAT(d.report_date,'%Y-%m-%d')= DATE_FORMAT(FROM_UNIXTIME(#{page.searchs.date}/1000),'%Y-%m-%d')
            AND s.class_id = #{classes.id}
    </select>

    <select id="getArriveCountMonthClass" resultType="java.lang.Double">
        SELECT AVG(count_id)
        FROM
             (
                SELECT
                    COUNT(DISTINCT a.id) AS count_id
                FROM
                    (
                        SELECT
                        s.id,
                        DATE_FORMAT(d.report_date,'%Y-%m') AS date_str
                        FROM
                        daily_report d
                        JOIN students s ON s.id = d.student_id
                        WHERE 1=1
                            AND DATE_FORMAT(d.report_date,'%Y-%m')= DATE_FORMAT(FROM_UNIXTIME(#{page.searchs.date}/1000),'%Y-%m')
                        AND s.class_id = #{classes.id}
                    ) a
                  GROUP BY a.date_str
            ) b
    </select>


    <select id="getRingCount" resultType="java.lang.Integer">
        SELECT
        COUNT(s.id)
        FROM
        students s
        WHERE s.ring_no IS NOT NULL
        <if test="searchs.classId!= null and searchs.classId!= 0 ">
            AND s.class_id = #{searchs.classId}
        </if>
        <if test="searchs.schoolId!= null and searchs.schoolId!= 0 ">
            AND s.school_id = #{searchs.schoolId}
        </if>
    </select>


    <select id="getDailyReportList" resultMap="dailyReport">
        SELECT
            s.id as student_id,
            s.name as student_name,
            s.register_no,
            s.ring_no,
            if(d.report_date is NULL, -1, 1) as attendance,
            d.report_date
        FROM
            students s
        LEFT JOIN daily_report d ON s.id = d.student_id
        LEFT JOIN class c ON s.class_id = c.id
        WHERE DATE_FORMAT(d.report_date,'%Y-%m-%d')= DATE_FORMAT(now(),'%Y-%m-%d')
        <if test="classId!= null and classId!= 0 ">
            and c.id = #{classId}
        </if>
    </select>

    <select id="getHistoryReportCount" resultType="long">
        SELECT
            count(s.id)
        FROM
            students s
        LEFT JOIN daily_report d ON s.id = d.student_id
        LEFT JOIN class c ON s.class_id = c.id
        WHERE DATE_FORMAT(d.report_date,'%Y-%m-%d')= DATE_FORMAT(now(),'%Y-%m-%d')
        <if test="classId!= null and classId!= 0 ">
            and c.id = #{classId}
        </if>
    </select>

    <select id="getHistoryReportList" resultMap="alarmReport">
        SELECT
            c.id AS class_id,
            c.title AS class_name,
            count(s.id) AS stuCount,
            SUM(CASE WHEN d.report_date IS NULL THEN 0 ELSE 1 END)
        FROM
            students s
            LEFT JOIN daily_report d ON s.id = d.student_id
            LEFT JOIN class c ON s.class_id = c.id
        WHERE 1=1
        <!-- historyType 为1 时查询当日历史纪律 -->
        <if test="searchs.historyType == 1">
            DATE_FORMAT( d.report_date, '%Y-%m-%d' ) = DATE_FORMAT( sysdate(), '%Y-%m-%d' )
        </if>
        <!-- historyType 为0 时查询当月历史纪律 -->
        <if test="searchs.historyType == 0">
            DATE_FORMAT( d.report_date, '%Y-%m' ) = DATE_FORMAT( sysdate(), '%Y-%m' )
        </if>
        GROUP BY
            c.id,
            c.title
    </select>

    <select id="getAlarmReportCountList" resultType="java.util.Map">
        SELECT
            IFNULL(COUNT(a.id),0) AS alarmCount
            ,b.id AS schoolId
            ,b.title
            ,#{searchs.alarmMonth} AS alarmMonth
        FROM
        school b
            LEFT JOIN
            (
                SELECT
                  ar.student_id
                  ,ar.id
                  ,DATE_FORMAT(ar.alarm_time,'%Y-%m') AS alarm_month
                  ,st.school_id
                  ,ar.alarm_type
                FROM
                  alarm_report ar
                JOIN students st ON ar.student_id=st.id
            ) a ON b.id=a.school_id  AND a.alarm_month = #{searchs.alarmMonth}
            <where>
                <if test="searchs.schoolId!= null and searchs.schoolId!= 0">
                      AND a.school_id=#{searchs.schoolId}
                </if>
                <if test="searchs.alarmType!= null and searchs.alarmType!= 0">
                    AND a.alarm_type=#{searchs.alarmType}
                </if>
            </where>
        GROUP BY
            b.id,a.alarm_month
        LIMIT #{startIndex}, #{pageSize}
    </select>

    <select id="getAlarmReportCountCount" resultType="java.lang.Long">
        SELECT COUNT(id)
        FROM school
    </select>

    <select id="getSchoolStudentList" resultType="java.util.Map">
      SELECT
        a.name
        ,a.register_no AS registerNo
        ,a.class_id AS classId
        ,b.class_name AS className
        ,a.ring_no AS ringNo
        ,IFNULL(c.report_type,-1) AS arrived
      FROM
        students a
      LEFT JOIN class b ON a.class_id=b.id
      LEFT JOIN daily_report c ON a.id=c.student_id AND c.report_type = 1 AND DATE_FORMAT(c.report_date,'%Y-%m-%d')=#{searchs.reportDate}
      WHERE
        a.school_id=#{searchs.schoolId}
        <if test="searchs.classId!= null and searchs.classId!= 0">
            AND a.class_id=#{searchs.class_id}
        </if>
    LIMIT #{startIndex}, #{pageSize}
    </select>

    <select id="getSchoolStudentListCount" resultType="java.lang.Long">
        SELECT COUNT(a.id)
        FROM
        students a
        LEFT JOIN class b ON a.class_id=b.id
        WHERE
        a.school_id=#{searchs.schoolId}
        <if test="searchs.classId!= null and searchs.classId!= 0">
            AND a.class_id=#{searchs.class_id}
        </if>
    </select>

</mapper>