<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scorer.client.dao.mysql_dao1.SchoolDao">

    <resultMap id="school" type="com.scorer.client.entity.School">
        <result column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="simple_title" property="simpleTitle"/>
        <result column="registe_date" property="registeDate"/>
        <result column="linkman" property="linkman"/>
        <result column="phone" property="phone"/>
        <result column="area" property="area"/>
        <result column="address" property="address"/>
        <result column="lon" property="lon"/>
        <result column="lat" property="lat"/>
        <result column="email" property="email"/>
        <result column="description" property="description"/>
        <result column="agentId" property="agentId"/>
        <result column="agentName" property="agentName"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="village" property="village"/>
    </resultMap>

    <resultMap id="schoolDetail" type="com.scorer.client.entity.SchoolDetail">
        <result column="id" property="classId"/>
        <result column="title" property="className"/>
        <result column="student_count" property="studentCount"/>
        <result column="device_count" property="deviceCount"/>
        <result column="online_count" property="onlineCount"/>
    </resultMap>

    <resultMap id="schoolMenu" type="com.scorer.client.entity.SchoolMenu">
        <result column="id" property="menuId"/>
        <result column="pid" property="menuPid"/>
        <result column="title" property="menuTitle"/>
        <result column="path" property="path"/>
        <result column="icon" property="icon"/>
    </resultMap>

    <select id="getSchoolCount" resultType="long">
        SELECT count(s.id)
        FROM school s
        WHERE 1 = 1
        <if test="searchs.title!= null and searchs.title != '' ">
            and s.title like CONCAT('%',#{searchs.title},'%')
        </if>
        <if test="searchs.area!= null and searchs.area != '' ">
            and s.area like CONCAT('%',#{searchs.area},'%')
        </if>
    </select>

    <select id="getSchoolList" resultMap="school">
        SELECT
            s.id,
            s.title,
            s.simple_title,
            DATE_FORMAT(s.registe_date, "%Y-%m-%d") registe_date,
            s.linkman,
            s.phone,
            s.area,
            s.address,
            s.lon,
            s.lat,
            s.email,
            s.description,
            agent_id as agentId,
            m.realname as agentName,
            province,
            city,
            village
        FROM school s
        LEFT JOIN manager m
        ON s.agent_id = m.id
        WHERE 1 = 1
        <if test="searchs.title!= null and searchs.title != '' ">
            and s.title like CONCAT('%',#{searchs.title},'%')
        </if>
        <if test="searchs.area!= null and searchs.area != '' ">
            and s.area like CONCAT('%',#{searchs.area},'%')
        </if>
        <foreach collection="sort" index="index" item="item" open="ORDER BY" separator=",">
             ${item.field} ${item['type']}
        </foreach>
        LIMIT #{startIndex}, #{pageSize}
    </select>

    <insert id="addSchool">
        insert into school(
            title, simple_title, linkman, registe_date,
            phone, area, address, lon, lat, email, description)
        values (
            #{title}, #{simpleTitle},#{linkman},str_to_date(#{registeDate}, '%Y-%m-%d'),
            #{phone},#{area}, #{address},#{lon},#{lat},#{email},#{description}
            )
    </insert>

    <delete id="deleteSchool">
        DELETE FROM school WHERE id IN
        <foreach collection="list" item="schoolId" open="(" separator="," close=")">
           #{schoolId}
        </foreach>
    </delete>

    <update id="updateSchool">
        update school
        <set>
            <if test="title != null and title != '' ">
                title = #{title},
            </if>
            <if test="simpleTitle != null and simpleTitle != '' ">
                simple_title = #{simpleTitle},
            </if>
            <if test="registeDate != null and registeDate != '' ">
                registe_date = str_to_date(#{registeDate}, '%Y-%m-%d'),
            </if>
            <if test="linkman != null and linkman != '' ">
                linkman = #{linkman},
            </if>
            <if test="phone != null and phone != '' ">
                phone = #{phone},
            </if>
            <if test="area != null and area != '' ">
                area = #{area},
            </if>
            <if test="address != null and address != '' ">
                address = #{address},
            </if>
            <if test="lon != null and lon != 0 ">
                lon = #{lon},
            </if>
            <if test="lat != null and lat != 0 ">
                lat = #{lat},
            </if>
            <if test="email != null and email != '' ">
                email = #{email},
            </if>
            <if test="description != null and description != '' ">
                description = #{description},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="getSchoolByCondition" resultMap="school">
        SELECT
            id,
            title,
            simple_title,
            registe_date,
            linkman,
            phone,
            area,
            address,
            lon,
            lat,
            email,
            description
        FROM school s
        WHERE 1 = 1
        <if test="id!= null and id != ''">
            and s.id = #{id}
        </if>
        <if test="area!= null and area != ''">
            and s.area = #{area}
        </if>
        <if test="title!= null and title != ''">
            and s.title = #{title}
        </if>
    </select>

    <select id="getClassCountBySchoolId" resultType="integer">
        SELECT count(id)
          FROM class
         WHERE 1 = 1
        <if test=" schoolId != null and schoolId != 0 ">
           AND school_id = #{schoolId}
        </if>
    </select>

    <select id="getClassStudentCountBySchoolId" resultType="integer">
        SELECT
            SUM(t2.student_count)
        FROM
            class t1
        LEFT JOIN ( SELECT class_id, count(class_id) student_count FROM students GROUP BY class_id ) t2 ON t1.id = t2.class_id
        WHERE 1=1
        <if test=" schoolId != null and schoolId != 0 ">
           AND t1.school_id = #{schoolId}
        </if>
    </select>


    <select id="getSchoolDetailCount" resultType="long">
        SELECT
            count(id)
        FROM
            class c
        WHERE 1=1
        <if test="searchs.schoolId!= null and searchs.schoolId != 0 ">
            and c.school_id = #{searchs.schoolId}
        </if>
    </select>

    <select id="getSchoolDetailList" resultMap="schoolDetail">
        SELECT
            c.id,
            c.class_name,
            st.student_count,
            st.device_count
        FROM
            class c
        LEFT JOIN (
            SELECT
                class_id,
                count(s.id) student_count,
                count(s.ring_no) device_count
            FROM
                students s
            WHERE 1=1
            <if test="searchs.schoolId!= null and searchs.schoolId != 0 ">
                and s.school_id = #{searchs.schoolId}
            </if>
            GROUP BY
                class_id
            ) st
        ON c.id = st.class_id
        WHERE 1=1
        <if test="searchs.schoolId!= null and searchs.schoolId != 0 ">
            and c.school_id = #{searchs.schoolId}
        </if>
        LIMIT #{startIndex}, #{pageSize}
    </select>

    <select id="getSchoolReportCount" resultType="long">
        SELECT
            count(id)
        FROM
            school c
        WHERE 1=1
        <if test="searchs.schoolId!= null and searchs.schoolId != 0 ">
            and c.id = #{searchs.schoolId}
        </if>
    </select>

    <select id="getSchoolReportList" resultType="map">
        SELECT
            s.id AS schoolId,
            s.title AS schoolName,
            c.class_count AS classCount,
            stu.student_count AS studentCount,
            stu.device_count AS deviceCount
        FROM
            school s
            LEFT JOIN (
                          SELECT
                              school_id,
                              count(*) class_count
                          FROM
                              class
                          GROUP BY
                              school_id
                      ) c ON s.id = c.school_id
            LEFT JOIN (
                          SELECT
                              school_id,
                              count(id) student_count,
                              count(ring_no) device_count
                          FROM
                              students
                          GROUP BY
                              school_id
                      ) stu ON s.id = stu.school_id
        WHERE 1=1
        <if test="searchs.schoolId!= null and searchs.schoolId != 0 ">
            and s.id = #{searchs.schoolId}
        </if>
        LIMIT #{startIndex}, #{pageSize}
    </select>

    <update id="deleteSchoolFK">
        update students set school_id = null where school_id IN
        <foreach collection="list" item="schoolId" open="(" separator="," close=");">
            #{schoolId}
        </foreach>
        update class set school_id = null where school_id IN
        <foreach collection="list" item="schoolId" open="(" separator="," close=");">
            #{schoolId}
        </foreach>
    </update>

    <select id="getAllSchoolMenuList" resultMap="schoolMenu">
        SELECT
            m.id,
            m.pid,
            m.path,
            m.title,
            m.icon
        FROM school_menu m
    </select>

    <select id="getAllSchoolMenuListForPageCount" resultMap="schoolMenu">
        SELECT
            count(m.id)
        FROM school_menu m
    </select>

    <select id="getAllSchoolMenuListForPage" resultMap="schoolMenu">
        SELECT
            m.id,
            m.pid,
            m.path,
            m.title,
            m.icon
        FROM school_menu m
        LIMIT #{startIndex}, #{pageSize}
    </select>

    <delete id="deleteSchoolMenus">
        delete from school_menu where id in
        <foreach collection="list" item="menuId" open="(" separator="," close=")">
            #{menuId}
        </foreach>
    </delete>

    <update id="updateSchoolMenu">
        update school_menu
        <set>
            <if test="menuTitle!= null and menuTitle != '' ">
                title = #{menuTitle},
            </if>
            <if test="path!= null and path != '' ">
                path = #{path},
            </if>
            <if test="icon!= null and icon != '' ">
                icon = #{icon},
            </if>
        </set>
        where id = #{id}
    </update>

    <insert id="addSchoolMenu">
        INSERT INTO school_menu (pid, title, path, icon) VALUES (#{menuPid}, #{menuTitle}, #{path}, #{icon})
    </insert>

    <select id="getAgentSchoolCount" resultType="long">
        SELECT
            count(s.province)
        FROM
            school s
        WHERE
            s.agent_id = #{agentId}
    </select>

    <select id="getAgentSchoolList" resultMap="school">
        SELECT
            s.id,
            s.title,
            s.simple_title,
            DATE_FORMAT(s.registe_date, "%Y-%m-%d") registe_date,
            s.linkman,
            s.phone,
            s.area,
            s.address,
            s.lon,
            s.lat,
            s.email,
            s.description,
            s.province,
            s.city,
            s.village
        FROM school s
        WHERE s.agent_id = #{agentId}
        LIMIT #{startIndex}, #{pageSize}
    </select>
</mapper>